
:root {
  --text: black;
  --text-h: #08060D;
  --bg: linear-gradient(180deg, #c4fc8d 0%, #fcfac8 100%);

  --sans: 'Sora', sans-serif;
  --heading: 'MuseoModerno', sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg) !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

html {
  font-family: var(--sans) !important;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg) !important;
}

h1,
h2 {
  font-family: var(--heading), serif;
  font-weight: 800;
  color: var(--text-h);
}

h1 {
  font-size: 42px;
  letter-spacing: 1px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
  font-weight: 500;
}
