#info {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 128px;
  border: 1px solid #555;
  background: #888;

  img, video {
    padding-left: 1rem;
  }

  #artist-title {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;

    p {
      color: #000;
      text-align: left;
    }
  }
}

#info:hover {
  background: #AAA;
}

#info.selected {
  background: #ADA;
}