#info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  border: 1px solid #555;
  background: #888;

  #artist-title, #songcount-duration {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;

    p {
      color: #000;
    }
  }
}

#info:hover {
  background: #AAA;
}

#info.selected {
  background: #ADA;
}