.info {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 128px;
  transition: background 0.25s ease;

  img, video {
    margin-left: 1rem;
  }

  #artistTitle {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;

    p {
      color: #000;
      text-align: left;
    }
  }
}

.info:hover {
  background: #0006;
}

.info.selected {
  background: #2f26;
}

.info.selected:hover {
  background: #0006;
}